body {
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: underline; /* gets rid of underlines */
    color: #555;
}

a:hover {
    color: coral;
}

#mainHeader {
    background-image: url('../images/mainBack.jpg');
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: white;
}

#navBar {
    background-color: #333;
    color: white;
}

#navBar ul {
    padding: 0;
    list-style: none;
    
}

#navBar li {
    display: inline;
}

#navBar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}


#mainFooter {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 0px;
}

.socialMedia {
    position: fixed;

    right: 0;
    padding: 20px 0px;

    display: block;
    color: transparent;
    
    background-repeat: no-repeat;
    background-position: center;
}

.socialMedia:hover {
    color: transparent;
    
}

#twitter {
    position: fixed;
    top: 65%;
    background-image: url('../images/twitter.png');
}

#facebook {
    top: 73%;
    background-image: url('../images/facebook.png');
}

#instagram {
    background-image: url('../images/instagram.png');
    top: 81%;
}


#main {
    float: left;
    width: 60%;
    border-style: double;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 0 10px;
    box-sizing: border-box;

}

#main2 {
    float: left;
    width: 99%;
    border-style: double;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 0 10px;
    box-sizing: border-box;

}

#main2 > h1 {
    text-align: center;
}

#main2 > p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}

#sideImg {
    float: right;
    width: 35%;
    height: auto;
    margin: 15px 0px;
    box-sizing: border-box;   
}

/* Any styles in here will only take affect if it's under 600 pixels */
@media(max-width:600px) {
    #main {
        width: 100%;
        float: none;
    }

    #sideBar {
        width: 100%;
        float: none;
    }
}